html {
    font-size: 62.5%;
    font-family: 'system-ui', 'sans-serif';
    line-height: 1.4;
    text-align: justify;
}

body {
    margin: 0 10px;
}

h1 {
    font-size: 3.2rem;
}

p {
    font-size: 2.1rem;
}

a {
    text-decoration: none;
}

ul {
    font-size: 2.1rem;
    padding: 0;
    list-style: none;
}

@media (max-width: 600px) {
    html {
        font-size: 55%;
    }
}

/* ---------------- */
/* Custom styles */
/* ---------------- */

@keyframes spin {
  0% { transform: rotate(0deg) }
  100% { transform: rotate(359.99deg) }
}

input::placeholder {
    color: rgba(48,62,77,0.3);
}

input::-webkit-calendar-picker-indicator {
    display: none;
}

.DayPicker {
    font-size: 2rem !important;
}

.DayPickerInput {
    width: 100%;
}

.DayPicker-Day--today {
  color: #fff !important;
  background-color: rgba(48,62,77,0.8);
}

.DayPicker:not(.DayPicker--interactionDisabled)
  .DayPicker-Day:not(.DayPicker-Day--disabled):not(.DayPicker-Day--selected):not(.DayPicker-Day--outside):hover {
  color: #fff;
  background-color: rgba(48,62,77,0.8) !important;
  outline: none;
}
